<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Wordle Solver</title>
</head>

<body>
    <script src="{{ url_for('static',filename='script.js') }}"> </script>

    <h1>Wordle Solver</h1> <br>
    <div class="form">
        <form action="/search" id="form" method="post">
            <h3>Enter a word</h3>
            <input type="text" class="field" id="wword" name="wordleword">

            <h3>Enter excluded letters</h3>
            <input type="text" class="field" id="eletters" name="excluded-letters">

            <h3>Enter included letters</h3>
            <input type="text" class="field" id="iletters" name="included-letters">
            <button id="search" name="seach">Search</button>
        </form>
    </div>
    <div>
        {% block content %}
        <p>words</p>
        {% endblock %}
    </div>
</body>

</html>