body {
	font-family: 'Poppins', sans-serif;
}

h1 {
	text-align: center;
}

h3 {
	padding: 1rem 0;
	margin: 0 1em;
}

input[type=text]{
	min-width: 200px;
	display: inline-block;
	width: 25%;
	padding: 0.7em 0.2em;
	margin: 0 1.3em;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	display: block;
	width: 10em;
	background-color: #4CAF50;
	color: white;
	padding: 0.7em 0.2em;
	margin: 8px 1.3em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=button]:hover {
	background-color: #45a049;
}

.grid {
	display: inline-grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-template-rows: 1fr;
	grid-column: span 2;
    grid-row: span 2;
	grid-column-start: 2;
}

.field {
	font-size: medium;
}

.words{
	
}

.form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 1rem 2rem;
}